/********** Fontes **********/

@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Niconne-Regular.ttf);
}

@font-face {
  font-family: 'Sriracha';
  font-style: cursive;
  font-weight: 400;
  src: url(../fonts/Sriracha-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/*  'Patrick Hand', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');  
/*font-family: 'Courgette', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive; */
 

/********** Final Fontes **********/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/********** Body da página ***********/

.corpo {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  /* #F1F5F8 */
}


/********** Menu de navegação ***********/

nav .logo {
  padding-left: 30px;
  margin-top: -50px;
  width: 400px;
  margin-bottom: -50px;
}


/* font-family: 'Niconne', cursive; */

nav .menu {
  font-family: "Comic Sans MS";
  font-size: 20px;
  color: black;
  padding-right: 20px;
}

.navbar.navbar-light {
  background-color: #FFFFFF !important;
}

nav .menu li a:before {
  content: '|';
  color: ##7d3f3d;
  padding-right: 10px;
}


/*********** FOOTER ***********/

footer .rodape p {
  color: #999;
  line-height: 25px;
}

footer .rodape h2,
h3 {
  color: #fff;
}

footer .rodape h2 {
  font-size: 18px;
}

.footer-top {
  background-color: #111;
  padding: 80px 0;
}

.footer-endereco h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.footer-contato h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.footer-contato h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.footer-redesocial h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}

.footer-redesocial h2:before {
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.footer-redesocial a {
  background-color: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.footer-redesocial a {
  font-size: 20px;
  color: #fff;
  padding: 5px 12px;
}

.footer-bottom-text {
  text-align: center;
  background-color: #000;
  line-height: 75px;
  margin-bottom: -30px;
}


/********** Menu Index **********/

#myCarousel {
  margin-bottom: 130px;
}


/*Efeito Overlay nas imagem*/

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}


/*Final do código Overlay*/

.img-parallax {
  background-image: url(../img/home-parallax.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}


/*Imagem Paralax */

@media (max-width: 600px) {
  .img-parallax {
    background-image: url(../img/home-parallax.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 30px;
  }
}

@media (max-width: 770px) {
  .img-parallax {
    background-image: url(../img/home-parallax.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}


/*********** Sobre nós ***********/

.titulo-sobrenos {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  height: 160px;
  margin-bottom: 60px;
}

.titulo-sobrenos h1 {
  font-size: 60px;
  font-family: 'Niconne', cursive;
  
}

.subtitulo-sobrenos h2 {
  font-family: 'Sriracha', cursive;;   
}

.marketing {
  margin-top: 50px;
}

@media (max-width: 600px) {
  .titulo-sobrenos {
    width: 100%;
    height: auto;
  }
  .titulo-sobrenos h1 {
    font-size: 40px;
  }
  .subtitulo-sobrenos h2 {
    font-size: 30px;
  }
  
  .marketing h2 {
    font-size: 30px;
  }
  
  .titulo-sobrenos {
    background-image: url(../img/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 770px) {
  .contato-titulo {
    width: 100%;
    height: auto;
  }
  .contato-titulo h1 {
    font-size: 60px;
  }
  .contato h2 {
    font-size: 30px;
  }
  .contato-titulo {
    background-image: url(../img/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/*********** Menu Serviços ***********/

.titulo-servicos {
  margin-top: 30px;
  font-family: 'Cuprum', sans-serif;
}

@media (max-width: 600px) {
  .jumbotron {
    width: 100%;
    height: auto;
  }
  .jumbotron h1 {
    font-size: 60px;

  }
  .servicos h2 {
    font-size: 30px;
  }
  .jumbotron {
    background-image: url(../img/servicostitulo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 770px) {
  .jumbotron {
    width: 100%;
    height: auto;
  }
  .jumbotron h1 {
    font-size: 60px;

  }
  .servicos h2 {
    font-size: 30px;
  }
  .jumbotron {
    background-image: url(../img/servicostitulo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/********** Menu Galeria **********/

.titulo-galeria {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  height: 160px;
}

.titulo-galeria h1 {
  font-size: 60px;
  font-family: 'Niconne', cursive;
  
}

.galeria {
  padding-top: 30px;
}

.galeria h2 {
  font-family: 'Sriracha', cursive;;   
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 350px;
  height: 300px;
  margin-left: 10px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.gallery {
  margin-bottom: 70px;
}


/*galeria de imagens*/

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

@media (max-width: 600px) {
  .titulo-galeria {
    width: 100%;
    height: auto;
  }
  .titulo-galeria h1 {
    font-size: 40px;

  }
  .galeria h2 {
    font-size: 30px;
  }
  .titulo-galeria {
    background-image: url(../img/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gallery img {
    margin-left: -10px;
  }
}


@media (max-width: 770px) {
  .titulo-galeria {
    width: 100%;
    height: auto;
  }
  .titulo-galeria h1 {
    font-size: 40px;

  }
  .galeria h2 {
    font-size: 30px;
  }
  .titulo-galeria {
    background-image: url(../img/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media only screen and (max-width: 700px) {
  .gallery a {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .gallery a {
    width: 100%;
  }
}


/*********** Menu Contato ***********/

.contato-titulo {
  background-color: #e1a894;
  padding-top: 40px;
  height: 180px;
  background-image: url(../img/servicostitulo.png);
}

.contato-titulo h1 {
  font-size: 80px;
  font-family: 'Niconne', cursive;
}

.contato {
  padding-top: 30px;
}

.contato h2 {
  font-family: 'Sriracha', cursive;;   
}


.rede-sociais {
  margin-bottom: -50px;
}


/* Efeito zoom na imagem */

.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Fim efeito Zoom*/

.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contato-contatos h2 {
  padding-bottom: 15px;
  font-size: 25px;
}

.contato-contatos {
  padding-bottom: 20px;
  background-color: #fff;
  padding-top: 20px;
  color: #7d3f3d;
  margin-bottom: 30px;
}

.contato-contatos p {
  color: black;
}

.contact-section {
  margin-top: -10px;
}

.formulario-contato {
  margin-bottom: -10px;
  padding-top: 15px;
}

@media (max-width: 600px) {
  .contato-titulo {
    width: 100%;
    height: auto;
  }
  .contato-titulo h1 {
    font-size: 60px;
    padding-bottom: 40px;
  }
  .contato h2 {
    font-size: 30px;
  }
  .contato-titulo {
    background-image: url(../img/servicostitulo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 770px) {
  .contato-titulo {
    width: 100%;
    height: auto;
  }
  .contato-titulo h1 {
    font-size: 60px;
    padding-bottom: 40px;
  }
  .contato h2 {
    font-size: 30px;
  }
  .contato-titulo {
    background-image: url(../img/servicostitulo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

*
/************************/

*